*{
    margin:0;
    padding:0;
    height:100%;
    
}
body{
    max-height: 100px;
}
.container{
    margin: 10% 30%;
    width: 40vw;
    
}
.hehe{
    height: 40vh;
    
}
.scenery{
    width:100%;
}
.button-container{
    height: 7vh;
    
}
.huh{
    width: 100%;
    background: linear-gradient(40deg, pink,purple,navy);
    font-family: 'Times New Roman', Times, serif,sans-serif;
    font-size:1.5rem;
}
