*{
    margin: 0;
    padding: 0;
    background-color: cornsilk;
    .heading1{
        color:blue;
    }
    #bg{
        background-color: greenyellow;
    }
    .huh{
        color: red;
        background-color: greenyellow;
    }
    .hehe{
        color: pink;
        font-size: 28px;
        
    }
    .haha{
        color: red;

    }
    .terms{
        color:black;
        background-color: aqua;
        font-size: 28px;
        text-decoration:  none;
    }
}